html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333745;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.header {
  background: #20222b; /*off-black*/
  margin-bottom: 4.8rem; /*xl-size*/
  padding: 1.6rem 0; /*m-size*/
  color: white;
}

.header__title {
  font-size: 3.2rem; /*l-size*/
  margin: 0;
  font-family: Pacifico;
}

.header__subtitle {
  color: #a5afd7; /*off-white*/
  font-size: 1.6rem; /*m-size*/
  font-weight: 500;
  margin: 0;
}

.big-button {
  background-color: #8357c5; /*purple*/
  border: none;
  border-bottom: 0.6rem solid #6f4aaa;
  color: white;
  font-weight: bold;
  font-size: 3.2rem;
  width: 100%;
  padding: 2.4rem;
  margin-bottom: 4.8rem;
}

.big-button:disabled {
  opacity: 0.5;
}

.button {
  background-color: #8357c5;
  border: none;
  border-bottom: 0.3rem solid #6f4aaa;
  color: white;
  font-weight: 500;
  padding: 1.2rem;
}

.button--link {
  background: none;
  border: none;
  color: #a5afd7;
  padding: 0;
}

.widget {
  background: #464b5e; /*light-blue*/
  margin-bottom: 4.8rem;
}

.widget-header {
  background-color: #3c4251; /*dark-blue*/
  color: #a5afd7;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.widget-header-title {
  margin: 0;
}

.widget-msg {
  color: #a5afd7;
  margin: 0;
  padding: 3.2rem;
  text-align: center;
  border-bottom: 1px solid #686f8b;
}

.option {
  border-bottom: 1px solid #686f8b;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.6rem;
}

.option__text {
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 0;
  word-break: break-all;
}

.add-option-error {
  color: #a5afd7;
  font-style: italic;
  padding: 0 3.2rem;
  margin: 3.2rem;
  text-align: center;
}

.add-option {
  display: flex;
  padding: 1.6rem;
}

.add-option__input {
  flex-grow: 1;
  background: #3c4251;
  border: none;
  border-bottom: 0.3rem solid #2b303a;
  color: #a5afd7;
  padding: 1rem;
  margin-right: 1rem;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: #3c4251;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: 3.2rem;
  text-align: center;
}

.modal__title {
  margin: 0 0 1.6rem 0;
}

.modal__body {
  word-break: break-all;
  margin: 0 0 3.2rem 0;
  font-size: 2rem;
  font-weight: 300;
}
